<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports.Essentials" version="13.0.20.2399" targetFramework="net452" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.4" targetFramework="net452" />
</packages>